# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Elias\BF-School\326\Builder Pattern\Uebung_Builder_Pattern_Code\DesignPattern_Builder_Start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
